<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rubber Duckie - Tech Blog</title>

    <!-- JQUERY-->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200&display=swap" 
        rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <main class="container-fluid">

        <section class="row align-items-center" id="sec2">

            <div class="col-12 col-md-6" id="nav">
                <a class="navbar-brand" href="/"><h2>The Rubber Duck</h2></a>

                {{#if logged_in}}
                <a href="/dashboard">
                    <button class="no-button" id="dashboard">My Dashboard</button>
                </a>

                <button class="no-button" id="logout">Logout</button>
        
                {{else}}
                
                <a href="/login">
                    <button class="no-button" id="login">login</button>
                </a>
                {{/if}}

            </div>

            <div class="col-12 col-md-6 align-self-end">
                <h2 id="meet" class="display-1">ARTICLES FOR DEVELOPERS</h2>
            </div> 

            
            <div class="col-12 align-self-end" id="bio-box">
                <p>
                    Tech blog where developers come to share, learn, and debug with each other and/or
                    anthropomorphic ducks we find on our desks. 
                </p>
            </div>  
        </section>

       

        <section class="row d-flex justify-content-center" id="articles">

            {{{body}}}

        </section>

        <section class="row align-items-center" id="contact">
            <div class="col-md-6 ">
                <h2 class="display-1 neon">Reach Out</h2> 
            </div>
            <div class="col-md-6">
                <p>
                    <a href="https://www.linkedin.com/in/lauren-lalita-duker-9537b1201/" 
                    target="_blank">
                        Lauren's Linkedin
                    </a>
                </p>
                <p>
                    <a href="https://github.com/LaurenDarrimon"
                    target="_blank">
                        Lauren's Github
                    </a>
                </p>  
            </div>
        </section>

        <div class="row justify-content-around" id="footer">
            <div>
                <p>
                    Thanks for visiting, ya'll. 
                </p>
            </div>
            <div>
                <p>
                    Lauren Duker Darrimon - Full Stack Engineer & Designer
                </p>
            </div>
        </div>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>



  
    

    <script src="/js/logout.js"></script>
   
    
  
    
</body>
</html>

