<h2 class="display-2 col-12"> DASHBOARD</h2>
<h3 class="display-4 col-12"> {{author}}</h3>

<h4 class="col-12"> RECENT POSTS</h4>


{{#each articles as |article| }}
    <div class="col-12 col-md-6 col-lg-4">
        <section class="card">

        {{> article }}
        <button class"btn btn-primary" data-id="{{id}}" id="update">UPDATE</button> 
        <button class"btn btn-primary" data-id="{{id}}" id="delete">DELETE</button>
        </section>
    </div>

{{/each}}

<div class="col-12">
    <a href="/dashboard/{{author}}/post/">
        <button>
            <h3>MAKE A NEW POST</h3>
        </button>
    </a>
</div>

 <script src="/js/edit.js"></script>



