<h2 class="display-2 col-12">RECENT POSTS</h2>

 <!-- for each article, loop through and display the article partial-->

{{#each articles as |article| }}

    <div class="col-12 col-md-6 col-lg-4">
        <section class="card">
            {{> article }}
        </section>
    </div>

{{/each}}


