<h2 class="display-2 col-12"> NEW POST</h2>
<h3 class="display-4 col-12" id="author">{{author}}</h3>

<form class="col-12 form publish-form">
  <div class="form-group">
    <label for="titleInput">Article Title</label>
    <input class="form-control" id="titleInput" placeholder="Article Title">
  </div>

  <div class="form-group">
    <label for="articleTextIxput">Body of Article</label>
    <textarea class="form-control" id="articleTextInput" rows="3"></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      PUBLISH
    </button>
  </div>
</form>

<script src="/js/dashboard.js"></script>

