<h2 class="display-2 col-12"> NEW POST</h2>
<h3 class="display-4 col-12"> {{author}}</h3>
<form class="col-12">
  <div class="form-group">
    <label for="titleInput">Article Title</label>
    <input class="form-control" id="titleInput" placeholder="Article Title">
  </div>

  <div class="form-group">
    <label for="articleTextIxput">Body of Article</label>
    <textarea class="form-control" id="articleTextInput" rows="3"></textarea>
  </div>
</form>

<div class="col-12">
    <button id="publish">
        <h3>PUBLISH</h3>
    </button>
</div>